
/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: #fff;

}

a{
  text-decoration: none;
  color: white;
}

li{
  list-style: none;
}

.inline-block{
  display: inline-block;
}

/* Utility */
.no-list{
  list-style: none;
}

.lightgrey{
  color: #7F8283;
}

.flex{
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.circle{
  border-radius: 50%;
}

.position-relative{
  position: relative;
}

.position-absolute{
  position: absolute;
}

.line{
  vertical-align: middle;
  position: relative;
  background-color: #535353;
  height: 4px;
  flex-basis: 50%;
  border-radius: 10px;
  margin: 4px 10px 0;
}

.line::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 25%;
  background-color: #bababa;
  border-radius: 10px;
}

.line:hover::before{
  background-color: white;
}


/* LAYOUT */
#app{
  height: 100vh;
}


/* MAIN WINDOW */
#main-window{
  flex-grow: 1;
}


/* SIDEBAR */
#sidebar{
  flex-basis: 230px; /* larghezza sidebar */
}

/* sidebar > sidebar-top */
.sidebar-top{
  flex-grow: 1;
  background: black;
}

/* sidebar > sidebar-top > logo */

.sidebar-top .logo{
  justify-content: flex-start;
}

.sidebar-top .logo img{
  width: 180px;
  padding: 20px 20px ;
}

.sidebar-top .logo .visibility-small{
  display: none;
}



/* sidebar > sidebar-top > category */

.sidebar-top .category{
  margin-bottom: 20px;
}

.sidebar-top .category li{
  border-left: 3px solid transparent;
  padding: 5px 0;
}

.sidebar-top .category li:hover{
  border-left: 3px solid lightgreen;
}

.sidebar-top .category a{
  padding: 0 15px;
}

.sidebar-top .category a img{
  width: 30px;
  padding-right: 5px;
  vertical-align: middle;
}

.sidebar-top .category a span{
  font-size: 13px;
  font-weight: 500;
  color: #7F8283;
}

.sidebar-top .category li:hover span{
  color: white;
}

/* sidebar > sidebar-top > playlist */
.sidebar-top .playlist {
  padding: 5px 0;
}

.sidebar-top .playlist h5{
  padding: 0 20px 5px;
  text-transform: uppercase;
}

.sidebar-top .playlist li{
  padding: 5px 15px;
  border-left: 3px solid transparent;
}

.sidebar-top .playlist li:hover{
  border-left: 3px solid lightgreen;
}


.sidebar-top .playlist li:first-child i{
  font-size: 40px;
  vertical-align: middle;
  padding-right: 10px;
}

.sidebar-top .playlist li span{
  color: #7F8283;
  font-size: 13px;
}

.sidebar-top .playlist li:hover i,
.sidebar-top .playlist li:hover span{
  color: white;
}


/* sidebar > sidebar-bottom */
.sidebar-bottom{
  background: black;
  flex-wrap: wrap;
  justify-content: center;
}

.install-app {
  flex-basis: 100%;
  padding: 10px;
}

.install{
  font-size: 13px;
  max-width: 90%;
  padding: 10px 5px;
  border-bottom: 0.5px solid #7F8283;
}

.install a:hover i,
.install a:hover span{
  color: white;
  font-weight: bold;
  transition: 200ms
}

.profile{
  width: 100%;
  padding: 5px 10px 10px;
}

.sidebar-bottom .profile img{
  width: 30px;
  padding: 2px;
  vertical-align: middle;
  border-radius: 50%;
  background: #7F8283;
}

.sidebar-bottom .profile span{
  padding-left: 5px;
  font-weight: bold;
}


/* CONTENT */
#content{
  position: relative;
  flex-grow: 1;
  background: #141921;
}


/* content > content-top-bar */
.content-top-bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: rgba(0, 0,0, .5);
  z-index: 1; /* default 1*/
  display: flex;
  align-items: center;
}

.content-top-bar button{
  background: transparent;
  position: absolute;
  right: 50px;
  border: 1px solid white;
  border-radius: 30px;
}

.content-top-bar button:hover{
  transition: 0.7s;
  background: white;
  border: 1px solid white;
  border-radius: 30px;
}

.content-top-bar button:hover h6{
  color: black;
}

.content-top-bar h6{
  padding: 10px 40px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
}



/* content > scrollable */

#content .scrollable{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 90px 15px 0;
}


/* content > scrollable > content-menu */
.content-menu{
  padding: 20px 0;
  justify-content: center;
}

.content-menu ul{
  text-align: center;
}

.content-menu li{
  display: inline-block;
  padding: 5px 10px;
}

.content-menu a{
  text-transform: uppercase;
  font-size: 13px;
  color: #7F8283;
  position: relative;
}

.content-menu a:hover{
  color: white;
}

.content-menu a::after{
  content: "";
  position: absolute;
  height: 2px;
  background-color: #86C52E;
  bottom: -5px;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.content-menu a:hover:after{
  opacity: 1;
}


/* content > scrollable > category */
.content-category {
  padding: 15px 0;
}

.content-category h3{
  padding: 5px 0;
}

.content-category span{
  font-size: 11px;
  color: #7F8283;
}

.content-category .box{
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

.content-category .box .album{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 0 15px 5px 0;
  flex-basis: calc(100% / 6);
  text-align: center;
}

.content-category .box .album img{
  width: 100%;
  height: 100%;
}

.content-category .box .album  h6{
  font-size: 13px;
}

.layover{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.layover i{
  color: #fff;
  font-size: 40px;
  display: none;
}

.overlay{
  width: 100%;
  margin-bottom: 10px;
}

.overlay:hover .layover{
  background: rgba(0,0,0, .5);

}

.overlay:hover .layover i{
  display: block;
}


/* BOTTOM PLAYER */
#player{
  justify-content: space-between;
  background: #333;
}

/* player > cover*/

.cover {
  flex-basis: 250px;
  padding: 15px 0;
  align-items: center;
}

.cover a{
  margin: 0 5px;
}

.cover a:nth-child(2){
  margin-right: 20px;
}
.cover a:nth-child(3){
  margin-right: 10px;
}

.cover img{
  width: 40px;
}

.cover li{
  font-size: 12px;
  color: #7F8283;
}

.cover li:first-child{
  color: white;
  font-weight: bold;
}

.cover i{
  font-size: 13px;
  color: #7F8283;
}

.cover i:hover{
  color: white;
  transition: 300ms;
}


/* player > control-player*/
.control-player{
  flex-grow: 1;
  /* flex-basis: 100%; */
  justify-content: center;
  align-items: center;
}

.top-control-player,
.bottom-control-player{
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  /* height: 50%; */
  /* DEBUG: delet */
}

/* player > control-player > top-control-player*/

.top-control-player a{
  margin: 0 15px;
}

.top-control-player i{
  color: #7F8283;
}

.top-control-player a:nth-child(3) i{
  font-size: 30px;
}

.top-control-player i:hover{
  color: white;
}

/* player > control-player > bottom-control-player*/
.bottom-control-player{
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bottom-control-player span{
  font-size: 13px;
  color: #7F8283;
}

.bottom-control-player .line{
  flex-basis: 50%;
  margin: 0 20px;
}

.bottom-control-player .line i{
  position: absolute;
  top: 0;
  left: 24%;
  transform: translateY(-6px);
  color: #8be60d;
  visibility: hidden;
}

.line:hover{
  visibility: visible;
}

.bottom-control-player .line:hover i{
  visibility: visible;
}


/* player > control-player > volume*/

.volume{
  flex-basis: 250px;
  display: flex;
  align-items: center;
}

.volume a{
  margin: 0 5px;
}

.volume i{
  font-size: 12px;
}

.volume .line i{
  position: absolute;
  top: 0;
  left: 20%;
  transform: translateY(-4px);
  color: #8be60d;
  visibility: hidden;
}

.volume .line:hover i{
  visibility: visible;
}




/*  */
