/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

a{
  text-decoration: none;
  color: white;
}

/* Utility */
.no-list{
  list-style: none;
}

.lightgrey{
  color: #7F8283;
}

/* LAYOUT */
#app{
  display: flex;
  flex-direction: column;
  height: 100vh;
}


/* MAIN WINDOW */
#main-window{
  flex-grow: 1;
  display: flex;
}


/* SIDEBAR */
#sidebar{
  flex-basis: 230px; /* larghezza sidebar */
  display: flex;
  flex-direction: column;
}

/* sidebar > sidebar-top */
.sidebar-top{
  flex-grow: 1;
  background: black;
}

/* sidebar > sidebar-top > logo */

.sidebar-top .logo img{
  width: 180px;
  padding: 20px 20px ;
}

/* sidebar > sidebar-top > category */

.sidebar-top .category{
  margin-bottom: 20px;
}

.sidebar-top .category li{
  border-left: 3px solid transparent;
  padding: 5px 0;
}

.sidebar-top .category li:hover{
  border-left: 3px solid lightgreen;
}

.sidebar-top .category a{
  padding: 0 15px;
}

.sidebar-top .category a img{
  width: 30px;
  padding-right: 5px;
  vertical-align: middle;
}

.sidebar-top .category a span{
  font-size: 13px;
  font-weight: 500;
  color: #7F8283;
}

.sidebar-top .category li:hover span{
  color: white;
}

/* sidebar > sidebar-top > playlist */
.sidebar-top .playlist {
  padding: 5px 0;
}

.sidebar-top .playlist h4{
  padding: 0 20px ;
  text-transform: uppercase;
}

.sidebar-top .playlist li{
  padding: 10px 15px;
  border-left: 3px solid transparent;
}

.sidebar-top .playlist li:hover{
  border-left: 3px solid lightgreen;
}


.sidebar-top .playlist li:first-child i{
  font-size: 40px;
  vertical-align: middle;
  padding-right: 10px;
}

.sidebar-top .playlist li span{
  color: #7F8283;
}

.sidebar-top .playlist li:hover i,
.sidebar-top .playlist li:hover span{
  color: white;
}







/* sidebar bottom */
.sidebar-bottom{
  height: 80px; /*debug*/
  background: #222;
}

/* CONTENT */
#content{
  position: relative;
  flex-grow: 1;
  background: #000;
}

.content-top-bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: rgba(100, 50,0, .5);
  z-index: 1;
}

#content .scrollable{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  /* 90px = height di content-top-bar */
  padding: 90px 15px 30px;
}

.content-menu{
  height: 80px; /*debug*/
  background: #222;
}

.content-category{
  height: 200px; /* Debug */
}


/* BOTTOM PLAYER */
#player{
  height: 80px; /*debug*/
  background: #333;
}
