
/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: #fff;

}

a{
  text-decoration: none;
  color: white;
}

li{
  list-style: none;
}

/* Utility */
.no-list{
  list-style: none;
}

.lightgrey{
  color: #7F8283;
}

/* LAYOUT */
#app{
  display: flex;
  flex-direction: column;
  height: 100vh;
}


/* MAIN WINDOW */
#main-window{
  flex-grow: 1;
  display: flex;
}


/* SIDEBAR */
#sidebar{
  flex-basis: 230px; /* larghezza sidebar */
  display: flex;
  flex-direction: column;
}

/* sidebar > sidebar-top */
.sidebar-top{
  flex-grow: 1;
  background: black;
}

/* sidebar > sidebar-top > logo */

.sidebar-top .logo img{
  width: 180px;
  padding: 20px 20px ;
}

/* sidebar > sidebar-top > category */

.sidebar-top .category{
  margin-bottom: 20px;
}

.sidebar-top .category li{
  border-left: 3px solid transparent;
  padding: 5px 0;
}

.sidebar-top .category li:hover{
  border-left: 3px solid lightgreen;
}

.sidebar-top .category a{
  padding: 0 15px;
}

.sidebar-top .category a img{
  width: 30px;
  padding-right: 5px;
  vertical-align: middle;
}

.sidebar-top .category a span{
  font-size: 13px;
  font-weight: 500;
  color: #7F8283;
}

.sidebar-top .category li:hover span{
  color: white;
}

/* sidebar > sidebar-top > playlist */
.sidebar-top .playlist {
  padding: 5px 0;
}

.sidebar-top .playlist h5{
  padding: 0 20px 5px;
  text-transform: uppercase;
}

.sidebar-top .playlist li{
  padding: 5px 15px;
  border-left: 3px solid transparent;
}

.sidebar-top .playlist li:hover{
  border-left: 3px solid lightgreen;
}


.sidebar-top .playlist li:first-child i{
  font-size: 40px;
  vertical-align: middle;
  padding-right: 10px;
}

.sidebar-top .playlist li span{
  color: #7F8283;
  font-size: 13px;
}

.sidebar-top .playlist li:hover i,
.sidebar-top .playlist li:hover span{
  color: white;
}


/* sidebar > sidebar-bottom */
.sidebar-bottom{
  background: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.install-app {
  flex-basis: 100%;
  padding: 10px;
}

.install{
  font-size: 13px;
  max-width: 90%;
  padding: 10px 5px;
  border-bottom: 0.5px solid #7F8283;
}

.install a:hover i,
.install a:hover span{
  color: white;
  font-weight: bold;
}

.profile{
  width: 100%;
  padding: 5px 10px 10px;
}

.sidebar-bottom .profile img{
  width: 30px;
  padding: 2px;
  vertical-align: middle;
  border-radius: 50%;
  background: #7F8283;
}

.sidebar-bottom .profile span{
  padding-left: 5px;
  font-weight: bold;
}


/* CONTENT */
#content{
  position: relative;
  flex-grow: 1;
  background: #141921;
}


/* content > content-top-bar */
.content-top-bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: rgba(0, 0,0, .5);
  z-index: 1; /* default 1*/
  display: flex;
  align-items: center;
}

.content-top-bar button{
  background: transparent;
  position: absolute;
  right: 50px;
  border: 1px solid white;
  border-radius: 30px;
}

.content-top-bar button:hover{
  transition: 0.7s;
  background: white;
  border: 1px solid white;
  border-radius: 30px;
}

.content-top-bar button:hover h6{
  color: black;
}

.content-top-bar h6{
  padding: 10px 40px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
}



/* content > scrollable */

#content .scrollable{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  /* 90px = height di content-top-bar */
  padding: 90px 15px 30px;
}


/* content > scrollable > content-menu */
.content-menu{
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-menu ul{
  text-align: center;
}

.content-menu li{
  display: inline-block;
  padding: 0 10px;
}

.content-menu a{
  text-transform: uppercase;
  font-size: 13px;
  color: #7F8283;
  position: relative;
}

.content-menu a::after{
  content: "";
  position: absolute;
  height: 2px;
  background-color: #86C52E;
  bottom: -5px;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  opacity: 0;
}

.content-menu a:hover:after{
  opacity: 1;
}


/* content > scrollable > category */
.content-category{
  height: 200px; /* Debug */
}


/* BOTTOM PLAYER */
#player{
  height: 80px; /*debug*/
  background: #333;
}
