/* Small devices */
@media (max-width: 600px){
  /* general */
  .no-visibility-small{
    display: none;
  }

  #sidebar{
    flex-basis: 10%; /* larghezza sidebar */
  }

  .sidebar-top .logo{
    justify-content: center;
  }

  .sidebar-top .logo .visibility-small{
    display: inline-block;
    width: 50px;
    padding: 10px;
  }

  .sidebar-top .category span {
    display: none;
  }

  .playlist {
    display: none;
  }

  .install{
    margin: 0;
    padding: 0;
    max-width: 100%;
    border-bottom: 0;
    justify-content: center;
  }

  .profile{
    justify-content: center;
  }

  .content-category{
    padding: 0;
  }

  .content-category .box .album{
    flex-basis: calc(100% / 2) ;
    margin-bottom: 20px;
  }

  .content-category .box .album h6{
    font-size: 13px;
  }

  .content-category .box .album span{
    font-size: 13px;
  }

  .content-menu li{
    padding: 10px 10px;
  }

  .bottom-control-player .line i{
    left: 18%;
  }

  .cover {
    justify-content: space-between;
    padding: 0 10px 0 0;
  }

  .cover .icon{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .cover a{
    margin: 0;
  }

  .cover a:nth-child(2){
    margin: 0;
  }

}

/* medium devices*/
@media all and (min-width: 601px) and (max-width: 850px){

  #sidebar{
    flex-basis: 180px; /* larghezza sidebar */
  }

  .content-menu{
    padding: 20px 0 0;
  }

  .content-menu li{
    padding: 0px 5px 10px ;
  }

  .content-category{
    padding: 0;
  }

  .content-category .box .album{
    flex-basis: calc(100% / 3);
    margin-bottom: 20px;
  }

  .cover a:nth-child(1){
    margin-right: 5px;
  }

  .cover a:nth-child(2){
    margin: 0;
  }


}

/* large devices*/
@media all and (min-width: 851px) and (max-width: 1199px){

   #sidebar{
    flex-basis: 180px; /* larghezza sidebar */
  }

  .content-menu li{
    padding: 5px 7px;
  }

  .content-category .box .album{
    flex-basis: calc(100% / 4) ;
    margin-bottom: 20px;
  }

  .cover a:nth-child(2){
    margin-right: 15px;
  }
}

/* extra Large devices  */
@media all and (min-width: 1200px){

}
